@import 'src/styles/base/variables';
@import 'src/styles/base/typography';

.Constructor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  max-width: 243px;
  min-height: 480px;
  border: 2px dashed $grey-300;
  border-radius: 6px;

  &__text {
    @extend %typography-secondary;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 127px;
    color: $grey-500;
    text-align: center;
  }

  &__text_pink {
    @extend %typography-primary;

    color: $pink;
  }
}
