%typography-big {
  font-size: 24px;
  font-weight: 800;
  line-height: 43.57px;
}

%typography-primary {
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
}

%typography-secondary {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
